@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #0e0f22;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #141526;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.header-links a {
  margin: 10px;
}

.logo {
  max-height: 60px;
  filter: brightness(0) invert(1);
}

.cta-button {
  padding: 10px 20px;
  background-color: #4287f594;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #c7d0df;
}

/* About Styles */
/* About Us section styles */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 60px auto;
  padding: 0 60px;
  background-color: #1e1f32;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.main-logo{
  border-radius: 30px;
  margin: 20px;
}

.about-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #e5b50a; /* Gold tone to fit EVE Echoes theme */
}

.about-container p {
  text-align: start;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #ccc; /* Lighter gray for better readability against dark background */
}

/* ... existing styles ... */

.services {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between cards */
  padding: 20px 0;
  justify-content: space-around; /* Distribute cards evenly */
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; /* Spacing between cards */
  padding: 20px 0;
}
.services h2 {
  font-size: 42px;
}

.service-card {
  flex: 0 1 calc(50% - 20px); /* Makes sure each card takes up roughly half the space minus the gap */
  background-color: #1a1a2e; /* Dark tone */
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px); /* Slight upward movement on hover for a dynamic feel */
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #eee; /* Light text color for contrast */
}

.service-card p {
  font-size: 18px;
  background-color: #0e0f22c2;
  border-radius: 20px;
  padding: 5px;
  color: #aaa; /* Slightly dimmer text for the description */
}

.mining {
  background-image: url('/mining.jpg');
  background-size: cover;
  background-position: center;
}

.ship-building {
  background-image: url('/indy.jpg');
  background-size: cover;
  background-position: center;
}


/* Footer Styles */
.footer-container {
  background-color: #141526;
  color: #aaa;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
}

.footer-container p {
  margin: 0;
}

/* ... your existing styles ... */

/* responsive design for mobile devices */
@media (max-width: 768px) {
  .service-card p {
    display: none; /* hide the p tag in cards on screens less than 768px wide */
  }

  .services {
    flex-direction: column; /* On mobile devices, cards will stack vertically */
    gap: 10px;
  }

  .cards {
    flex-direction: column; /* Cards will stack vertically */
    gap: 10px;
    padding: 10px 0;
  }

  .service-card {
    flex: 0 1 100%; /* Each card will take the full width on mobile */
    padding: 10px;  /* Slightly less padding for mobile */
  }

  .service-card h3 {
    font-size: 20px; /* Smaller heading for mobile */
  }
}
