@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset & Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #0e0f22;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

a:hover {
  color: #e5b50a;
  /* Gold tone for hover effect */
}

/* Header Styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #1e1f3281;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.header-links a {
  margin: 10px;
  transition: color 0.2s;
}

.logo {
  max-height: 60px;
  filter: brightness(0) invert(1);
}

.cta-button {
  padding: 10px 20px;
  background-color: #4287f594;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.cta-button:hover {
  background-color: #c7d0df;
}

/* About Us section styles */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 60px auto;
  border-radius: 10px;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  max-width: 800px;
  margin: 60px auto;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: black;
}

.main-logo {
  border-radius: 30px;
  margin: 20px;
}

.about-container h2,
.about-container p {
  margin-bottom: 20px;
}

.about-container h2 {
  font-size: 28px;
  color: #e5b50a;
  /* Gold tone */
}

.about-container p {
  text-align: start;
  font-size: 16px;
  color: #ccc;
}

.services,
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.cards {
  flex-direction: row;
  flex-wrap: wrap;
}

.services h2 {
  font-size: 42px;
}

.service-card {
  flex: 0 1 calc(50% - 20px);
  background-color: #1a1a2e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #eee;
}

.service-card p {
  font-size: 18px;
  background-color: #1e1f3281;
  border-radius: 20px;
  padding: 5px;
  color: #aaa;
}

.mining,
.ship-building {
  background-size: cover;
  background-position: center;
}

.mining {
  background-image: url('/mining.jpg');
}

.ship-building {
  background-image: url('/indy.jpg');
}

/* Footer Styles */
.footer-container {
  background-color: #1e1f3281;
  color: #aaa;
  padding: 20px 40px;
  text-align: center;
}

.footer-container p {
  margin: 0;
}

.recruitment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}

.recruitment-section h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.recruitment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: flex-start;
  width: 30vw;
  padding: 20px;
}

.recruitment-details ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: start;
  list-style-type: none;
  padding-left: 0;
  color: #ccc;

}

.recruitment-details li {
  display: flex;
  text-align: flex-start;
  justify-content: center;
  list-style-type: none;
  padding: 5px 0;
  position: relative;
  width: 400px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.apply-button {
  padding: 10px 20px;
  background-color: #4287f594;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.apply-button:hover {
  background-color: #c7d0df;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {

  /* Header */
  .header-container {
    flex-direction: column;
    padding: 10px 20px;
  }

  .logo {
    max-height: 40px;
  }

  .header-links a {
    margin: 5px;
    font-size: 14px;
  }

  .cta-button {
    padding: 8px 16px;
    margin-top: 10px;
  }

  /* About Us */
  .about,
  .about-img,
  .about-container {
    padding: 20px;
  }

  .main-logo {
    max-width: 220px;
    margin: 10px;
  }

  .about-container h2 {
    font-size: 24px;
  }

  .about-container p {
    font-size: 14px;
  }

  /* Services */
  .services,
  .cards,
  .service-card {
    flex-direction: column;
  }

  .service-card {
    flex: 0 1 100%;
    padding: 10px;
  }

  .service-card h3 {
    font-size: 20px;
  }

  /* Footer */
  .footer-container {
    padding: 10px 20px;
  }

  .recruitment-section {
    width: 80vw;
  }

  .recruitment-details ul {
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
  }

  .recruitment-details li {
    padding: 10px;
    width: 50vw;
  }

  .apply-button {
    padding: 8px 16px;
  }
}

/* Enhancements for a more modern & industrial look */
body {
  background-color: #1a1a2e;
  background-image: linear-gradient(315deg, #1a1a2e 0%, #3d3d3d 74%);
  /* Gives a subtle gradient */
}

.service-card,
.footer-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Adding a subtle border */
}

.service-card:hover {
  border-color: #e5b50a;
  /* Gold tone on hover */
}

.about-container,
.footer-container {
  overflow: hidden;
  /* Ensures shadows and borders are well-contained */
}

.service-card img {
  border-radius: 10px;
  /* Rounded corners for images */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  /* Subtle shadow for depth */
}